.DishesItem {
    background: white;
    width: 230px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    margin: 10px;
}
.DishesItem img {
    width: 100%;
    box-shadow: 2px 2px 8px #ccc;
}
.DishesItem h1 , p {
    margin: 0;
}
.ShowDishes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Buttons{
    display: flex;
    justify-content: space-between;
}
.Dishes{
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 0;
}